:root {
  --primary-text-color: #9da4bd;
  --headers-color: #303030;
  --secondary-text-color: #555555;
  --third-text-color: #ffffff;
  --accent-color: #ff6c00;
  --background-color: #f7f7f7;
}

body {
  font-family: 'Open-Sans', sans-serif;
  background-color: var(--third-text-color);
}

.list {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: grey;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--third-text-color);
  background-color: transparent;
  /* padding: 12px 20px; */

  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.header-list-link,
.hero-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--third-text-color);
}

.header-list-link:is(:hover, :focus),
.hero-link:is(:hover, :focus),
.header-tel:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-tel {
  margin-right: 43px;
  text-transform: uppercase;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--headers-color);

  margin-bottom: 20px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--headers-color);
  margin-bottom: 20px;
}

.pre-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* ----------------- HEADER ----------------- */
.navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-list {
  display: flex;
  margin-left: 131px;
}

.header-list-link {
  display: block;
}

.header-list-item:not(:last-child) {
  margin-right: 30px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-header {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: red;
}

/* ----------------- HERO ----------------- */

.hero-container {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero-wrapper {
  background-color: teal;
  flex-grow: 1;
  padding: 208px 100px;
}

.hero-pre-title {
  margin-bottom: 20px;
}

.hero-text {
  max-width: 360px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* ----------------- DESCRIPTION ----------------- */

.description-container {
  display: flex;
  gap: 30px;
}

.description-list {
  display: flex;
  gap: 30px;
}
.description-wrapper {
  max-width: 470px;
}

.descritpion-text {
  margin-bottom: 42px;
}

/* ----------------- PRICES ----------------- */

.prices-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
}

.prices-list {
  width: calc((100% - 30px) / 2);
}

.prices-item {
  display: flex;
  justify-content: space-between;
}

.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-item-text {
  color: var(--primary-text-color);
}

.prices-btn {
  display: block;
  margin: 0 auto;
}

/* ----------------- BENEFITS ----------------- */

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: var(--background-color);
}

.benefits-item > span {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: calc (57/42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--headers-color);
}

.benefits-item-text {
  text-align: center;
  text-transform: none;
  margin: 0;
}

.benefits-text {
  font-size: 18px;
  line-height: calc (30/18);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

/* ----------------- BARBERS ----------------- */

.barbers {
  background-color: var(--background-color);
}

.barbers-card {
  flex-basis: calc(100%-60px) / 3;
}
.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-title {
  margin-bottom: 44px;
}

.barbers-name {
  font-size: 18px;
  font-weight: 400;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--headers-color);

  margin-bottom: 8px;
}

.barbers-text {
  margin-bottom: 30px;
  font-size: 14px;

  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.barbers-card-content-wrapper {
  padding-top: 30px;
}

/* ----------------- GALLERY ----------------- */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  flex-basis: calc(100%-90px) / 4;
}

.gallery-pre-title {
  margin-bottom: 44px;
}
